## Travis CI Integration

language: c

env:
  - TESTDLL=src/wormlib-tests/bin/Debug/wormlib-tests.dll
  - TESTDLL=src/functional-tests/bin/Debug/functional-tests.dll

install:
  - sudo add-apt-repository ppa:ermshiperete/monodevelop -y
  - sudo apt-get update
  #- sudo apt-get install mono-devel mono-gmcs nunit-console
  - sudo apt-get install mono-3
script:
  - xbuild src/worm.sln
  - nunit-console $TESTDLL
